<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>client --> server 파라미터 전달</h1>
<h2> a 태그 활용 </h2>
<a href="/a_send?num1=100&num2=200">전송</a>
<a th:href="@{/a_send(num1=10,num2=20)}">전송</a>
<hr>
<h2>form data 전송</h2>
<form th:action="@{/noneDtoSend}">
    <input type="text" id="name" name="name"><br>
    <input type="number" min="1" max="200" id="age" name="age"><br>
    <input type="text" id="address" name="address"><br>
    <input type="submit"  name="전송"><br>
</form>
<h2>form 데이터 전송 - Dto 사용해서 받기</h2>
<form th:action="@{/dtoSend}" method="post">
    <input type="text" name="name"><br>
    <input type="number" min="1" max="200" name="age"><br>
    <input type="text" name="address"><br>
    <input type="submit" name="전송"><br>
</form>
</body>
</html>